.main-container {
    width: 450px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgb(104, 104, 104);
}

.location-header {
    padding: 15px;
    border-bottom: 2px solid rgb(231, 231, 231);
}

.input {
    padding: 25px 0px;
}

.input-text {
    font-size: 14px;
    color: rgb(146, 146, 146);
}

.input-field {
    padding: 20px 10px;
}

.buttons {
    background-color: #F6F8FB;
    padding: 20px 0px;
}

.btn-1 {
    background-color: white !important;
    border: 1px solid rgb(228, 228, 228);
}

.buttons-row {
    justify-content: space-between;
}

.buttons-col1 {
    margin-left: 10px;
}

.buttons-col2 button {
    float: right;
    margin-right: 10px;
    background-color: grey !important;
    border: 1px solid grey !important;
}

.cancel {
    background-color: transparent !important;
    cursor: pointer;
    position: absolute;
    border: none !important;
    top: 0;
    right: 0;
    z-index: 9999;
    font-size: 18px;
}

.cancel-hide {
    display: none;
}

.buttons-col2-2 button {
    margin-right: 10px;
    float: right;
    background-color: blue;
}

@media only screen and (max-width:488px) {
    .main-container {
        width: 90%;
    }
}